.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
conts
tests/default.nf.test tests/nextflow.config
.vscode/settings.json
.github
.nf-core.yml
.prettierrc.yml
.pre-commit-config.yaml
.gitattributes
.prettierrc.yml
.prettierignore
tests/default.nf.test tests/nextflow.config
