params {
    // Resources
    highMemForks = 2
    fatMemForks = 1
    // Container directory
    cont_dir = 'conts'
    // Aligned BAM file(s)
    sampleSheet = null
    // Output directory
    outdir = "results"
    // Number of threads
    cpus = 14
    // UPPMAX
    account = null
    memory = 20.GB
    time = '48-00:00:00'
    retry = 3
    nobg = false

    // Save intermediate files
    save_tmp = false
    
    // MAKE_PYGT_INI parameters
    bedgraphFiles = null //
    peakCallBedfile = null //
    geneModelGTFfile = null //

    // TRACKPLOT parameters
    trackIniNameSuffix = ""
    regions = null // e.g. 'chr1:1000000-2000000,chr2:1000000-2000000'

    // COMBINEBAM parameters

    // ATACORRECT parameters
    group_peaks = null // example "Group1:peak1.bed,Group2:peak2.bed" // Please make sure the group names are the same as in the sampleSheet
    refgenome = null

    // BINDETECT parameters
    peakAnnotation = null // Path to the consensus peak annotation file
    // group_peak_annotated = null

    // FOOTPRINTPLOT parameters
    TFs = null

    // MONALISA parameters
    difftables = null // Paths to the differential accessibility tables separated by ';'.
    // peakAnnotation = null // Path to the consensus peak annotation file
    pfm_file = null // Path to the position frequency matrix file

    // DIFFTFACTIVITY parameters
    dds = null  // DESeq2 object
    logNormCount = null
    design = null
    group_order = null // comma separated

    // INTEGRATION parameters
    diffTFexpr_files = null // ';' separated file paths if multiple files
    diffTFbinding_file = null 
    diffTFactivity_files = null // ';' separated file paths if multiple files
    monalisa_files = null // ';' separated file paths if multiple files
}
includeConfig 'conf/pdc_kth.conf'
includeConfig 'conf/uppmax_all.conf'
includeConfig 'conf/offline.conf'

profiles {
    local {
        executor {
            name = 'local'
            cpus = params.cpus
            memory = params.memory
        }
        process {
            errorStrategy = 'retry'
            maxRetries = "${params.retry}"
        withLabel: highMemST {
            cpus = 1
            maxForks = params.highMemForks
        }
        withLabel: highMemMT {
            cpus = Math.min(4, params.cpus as Integer)
            maxForks = params.highMemForks
            }
            withLabel: fatMemMT {
            cpus = Math.min(8, params.cpus as Integer)
            maxForks = params.fatMemForks
            }
        withLabel: lowMemST {
            cpus = 1
        }
        withLabel: lowMemMT {
            cpus = Math.min(2, params.cpus as Integer)
            }
        }
    }
    docker {
        docker.enabled = true
        executor {
            cpus = "${params.cpus}"
        }
    }
    arm {
        docker.runOptions = '--platform linux/amd64'
        executor {
            cpus = "${params.cpus}"
        }
    }
    apptainer {
        apptainer.enabled = true
        process.containerOptions = '--writable-tmpfs'
        executor {
            cpus = "${params.cpus}"
        }
    }
    singularity {
        singularity.enabled = true
        process.containerOptions = '--writable-tmpfs'
        executor {
            cpus = "${params.cpus}"
        }
    }
    conda {
        conda.enabled = true
        executor {
            cpus = "${params.cpus}"
        }
    }
}

/*
========================================================================================
    Nextflow Metrics & Reports
========================================================================================
*/

timeline {
  enabled = true
  file    = "${params.outdir}/timeline.html"
  overwrite = true
}

report {
  enabled = true
  file    = "${params.outdir}/report.html"
  overwrite = true
}
trace {
  enabled = true
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.outdir}/trace.txt"
  overwrite = true
}

dag {
    enabled = true
    file    = "${params.outdir}/dag.mmd"
    file = "${params.outdir}/dag.html"
    overwrite = true
}

manifest {
    name        = "nf-atac"
    description = "Workflow for ATAC-seq analysis written in Nextflow"
    author      = "Aditya Singh"
    mainScript  = "main.nf"
    version     = "1.0.0"
}

